<mat-spinner *ngIf="!comment"></mat-spinner>

<ng-container *ngIf="comment">
  <mat-toolbar>
    <h2>Update comment</h2>
    <span class="example-spacer"></span>
    <button (click)="router.navigate(['/comments/', comment.postId])" color="warn" mat-fab>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-toolbar>
  <div *ngIf="comment">
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input [(ngModel)]="this.comment.id"
             disabled
             matInput>
      <mat-icon matSuffix>text_fields</mat-icon>
      <mat-hint>ID of the comment</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <input [(ngModel)]="this.comment.content"
             [formControl]="contentForm"
             matInput>
      <mat-icon matSuffix>text_fields</mat-icon>
      <mat-hint>Content of comment</mat-hint>
      <mat-error *ngIf="this.contentForm.invalid">{{getCreateErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input [(ngModel)]="this.comment.author.userName"
             disabled
             matInput>
      <mat-icon matSuffix>text_fields</mat-icon>
      <mat-hint>Username of author</mat-hint>
    </mat-form-field>

    <ng-container *ngIf="this.comment.likes.length>0">
      <mat-form-field appearance="outline">
        <mat-label>Likers</mat-label>
        <input [value]="getLikers()" disabled matInput>
        <mat-icon matSuffix>text_fields</mat-icon>
        <mat-hint>Usernames of likers</mat-hint>
      </mat-form-field>
    </ng-container>

    <button
      (click)="editComment()"
      [disabled]="contentForm.invalid || oldContent===this.comment.content"
      class="big-button"
      color="accent"
      mat-flat-button
    >
      <span class="big-button">Update comment</span>
    </button>
  </div>
</ng-container>
