<mat-spinner *ngIf="!posts"></mat-spinner>

<ng-container *ngIf="posts">
  <h1>Posts of {{subjectName}}</h1>

  <mat-toolbar class="top-buttons">
    <button [routerLink]="['/subjects/']"
            mat-fab
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>

    <button (click)="showCreateForm=true" *ngIf="!showCreateForm && authService.isLoggedIn" color="primary" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="showCreateForm=false" *ngIf="showCreateForm && authService.isLoggedIn" color="warn" mat-fab>
      <mat-icon>cancel</mat-icon>
    </button>

  </mat-toolbar>


  <app-add-post (addClicked)="addClicked()" *ngIf="showCreateForm" [subjectId]="subjectId"></app-add-post>
  <ng-container class="content">
    <mat-card *ngFor="let post of posts" class="post-card">
      <mat-card-header>
        <mat-card-title>{{ post.content }}</mat-card-title>
        <mat-card-subtitle>Posted by {{ post.author.userName }}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="post.editCount>1">
          Edited {{post.editCount}} times, last edit was on {{post.lastEdited}}
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="post.editCount===1">
          Edited once on {{post.lastEdited}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="post-timestamp">Posted on {{ post.timestamp }}</p>
        <p *ngIf="post.comments && post.comments.length!==1" class="post-comments">{{ post.comments.length }}
          Comments</p>
        <p *ngIf="post.comments && post.comments.length===1" class="post-comments">{{ post.comments.length }}
          Comment</p>
        <mat-toolbar>


          <button *ngIf="post.siteUserId===authService.currentUser?.id || authService.isAdmin()"
                  [routerLink]="['/edit/post/', post.id]"
                  mat-mini-fab>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deletePost(post.id)"
                  *ngIf="post.siteUserId===authService.currentUser?.id || authService.isAdmin()"
                  color="warn"
                  mat-mini-fab>
            <mat-icon>delete</mat-icon>
          </button>
          <span class="example-spacer"></span>
          <button
            [routerLink]="['/comments/', post.id]" color="primary"
            mat-raised-button
          >
            <mat-icon aria-hidden="false" aria-label="Edit icon" fontIcon="list"></mat-icon>
            View comments
          </button>
        </mat-toolbar>

      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>
