//https://mdbootstrap.com/support/angular/how-can-i-locate-a-footer-at-the-bottom-of-the-page/
//https://stackoverflow.com/questions/52258547/how-to-make-sure-that-an-element-is-not-covered-by-another-css
/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

app-navigation {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}

app-root {
  margin-top: 120px;
  display: block;
  position: relative;
  padding-bottom: 56px; // height of the footer
}

app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

main{
  margin: 40px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
